<ion-header>
    <ion-navbar>
      <ion-title>{{title}}</ion-title>
    </ion-navbar>
  </ion-header>

  <!--Grocery List items-->
  <ion-content padding>
    <!--Display message below when there are no list items on screen-->
    <h3 class="no-item" text-center *ngIf="loadItems().length === 0">
      Click the '+' icon to begin adding items to your list!
    </h3>
      <ion-list>
            <!--For each item below, render for every number of items in Items list, now linked to Groceries-Services.TS file via loadItems()-->
          <ion-item-sliding *ngFor="let item of loadItems(); let i = index"><!--index is each item being iterated upon;used with Remove button-->
            <ion-item>
              <h2>{{item.name}}</h2> 
              <p>{{item.quantity}}</p>            
            </ion-item>

            <ion-item-options>
              <!--Edit Button that is used to update items from list-->
              <button (click)="editItem(item, i)" ion-button color="primary" icon-start>
                  <ion-icon name="create"></ion-icon>
                  Edit
                </button>

                <!--Share Button that is used to share items from list-->
              <button (click)="shareItem(item, i)" ion-button color="light" icon-start>
                  <ion-icon name="share"></ion-icon>
                  Share
                </button>

              <!--Done Button that is used to remove items from list-->
              <button (click)="removeItem(item, i)" ion-button color="secondary" icon-start>
                <ion-icon name="trash"></ion-icon>
                Remove
              </button>
            </ion-item-options>
          </ion-item-sliding>
          
    </ion-list>
    
    <!--Floating Action Button To Add New Grocery Items to List-->
    <ion-fab bottom right>
      <button (click)="addItem()" ion-fab mini><ion-icon name="add"></ion-icon></button>
    </ion-fab>  
    
  </ion-content>
  